---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro"; // Importa el componente Welcome para usar su navbar
---

<Layout title="Acerca de mí">
  <Welcome />
  {/* Renderiza el componente Welcome que contiene el navbar */}
  <main>
    <!-- Contenido de la página Acerca de mí -->
  </main>
</Layout>
