<nav class="flex content-start w-full bg-[#161414] p-4">
  <ul class="flex space-x-4 list-none p-0 m-0 gap-5">
    <li><a href="/">Inicio</a></li>
    <li><a href="/contactos">Contactos</a></li>
    <li><a href="#lenguajes-programacion">Acerca</a></li>
  </ul>
</nav>

<div class="header-content">
  <div class="text-content">
    <h2>Elkin De la Cruz Cudris</h2>
    <p>
      Hola mi nombres es Elkin De la Cruz Cudris soy técnico es sistemas, y
      desarrollador web estoy empezando en el mundo de desarrollador de pagina
      con muchas ganas de emprender y poder cumplir mis sueños. He trabajado en
      empresas como claro como tecnico de redes y soporte (DTH), con una
      experiencia de 4 años, y me he desempeñado por tener un buen conocimientos
    </p>
  </div>
  <img src="/imagen.png" alt="imagen.png" class="profile-image" />
</div>

<div class="header-content right-aligned-section" id="lenguajes-programacion">
  <div class="text-content">
    <h2>Lenguajes de programacion</h2>
    <p>
      En el poco timpo que llevo aprendiendo lenguajes de programacion me he
      destacado por aprender y utilizar los lenguage tales HTML, CSS,
      JavaScript, Java. Me gusta mucho aprender y poner en practica mis
      conocimientos en proyectos reales. Por tal motivo estoy en busca de una
      oportunidad laboral donde pueda demostrar mis habilidades y seguir
      creciendo profesionalmente.
    </p>
  </div>
</div>
