<nav class="flex justify-center w-full bg-[#161414] p-4">
  <ul class="flex space-x-8 list-none p-0 m-0 text-lg">
    <li><a href="/" class="text-white">Inicio</a></li>
    <li><a href="/acerca" class="text-white">Acerca</a></li>
    <li><a href="/contactos" class="text-white">Contactos</a></li>
  </ul>
</nav>
